@import "tailwindcss";

.backnavbar {
    background: rgb(8,18,31);
    background: linear-gradient(90deg, rgba(8,18,31,1) 0%, rgba(13,45,88,1) 40%, rgba(13,45,88,1) 60%, rgba(8,18,31,1) 100%);
}

.shadowwhite {
    box-shadow: rgba(250, 250, 253, 0.75) 0px 20px 70px -10px, rgba(255, 255, 255, 0.3) 0px 30px 60px -30px, rgba(255, 255, 255, 0.3) 0px -2px 6px 0px inset;
}

.sw {
    box-shadow: rgba(182, 182, 182, 0.45) 0px 20px 70px -10px, rgba(255, 255, 255, 0.3) 0px 30px 60px -30px, rgba(255, 255, 255, 0.3) 0px -2px 6px 0px inset;
}

body {
    background-image: 
        linear-gradient(rgba(32, 14, 38, 0.5), rgba(32, 14, 38, 0.5)), 
        url('./images/home/abyss_background_wide.webp'); 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #200E26;
}

.slider {
    height: auto;
    margin: auto;
    overflow: hidden;
}

.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 30s linear infinite;
    width: calc(200px * 14);
    column-gap: 30px;
}

.slider .slide {
    width: 200px;
}

.slider .slide img {
    width: 100%;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}